.message_Card {
    margin:15px;
    padding: 6px;
    width: fit-content; 
    
}

.user_Message {
   
     margin-left: auto;
   
  
}

.user_Card {
    background: rgb(9, 13, 251) !important;
    color: white !important;
    border-radius: 15px 10px 20px 15px !important;
}

.guest_Card {
    background: #f5f5f8 !important;
    border-radius: 15px 10px 20px 15px !important;
}