.App {
  text-align: center;
}


.form {
  padding: 10px;
  position: fixed;
  bottom: 0;
  background: #f5f5f8 !important;
  z-index: 1;
  width: 92%;
  margin: 20px;
}

.form_Control {
  display: flex !important;
  flex-direction: row !important;
}

.input {
  flex-grow: 1;
}

.icon_Button {
  flex-grow: 0;
}

.img-fluid{
  width: 100px;
}